<div class="transactional-password-container">
  <mat-card class="transactional-password-card">

    <!-- Botão voltar -->
    <div class="back-link" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon> 
    </div>

    <!-- ======== Passo 1: Info + Gerar Token ======== -->
    <div *ngIf="step === 1">
      <div class="transactional-password-header">
        <mat-icon class="logo-icon">lock</mat-icon>
        <h1>Redefinir senha transacional?</h1>
        <p>Você pode gerar um token para redefinir sua senha transacional.</p>
      </div>

      <div class="button-group">
        <button 
          class="action-button" 
          [disabled]="isLoading" 
          (click)="generateToken()">
          {{ isLoading ? 'Gerando...' : 'Gerar Token' }}
        </button>
      </div>
        <app-error-message [message]="errorMessage" [show]="!!errorMessage"></app-error-message>
      <app-success-message [message]="successMessage" [show]="!!successMessage"></app-success-message>
      
    </div>

    <!-- ======== Passo 2: Digitar Token + Nova Senha ======== -->
    <div *ngIf="step === 2">
      <div class="transactional-password-header">
        <mat-icon class="logo-icon">vpn_key</mat-icon>
        <h1>Redefinir Senha Transacional</h1>
      </div>

      <form [formGroup]="resetForm" class="transactional-password-form" (ngSubmit)="resetPassword()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Token</mat-label>
          <input matInput formControlName="token" maxlength="25" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nova Senha (4 dígitos)</mat-label>
          <input matInput type="password" formControlName="newPassword" maxlength="4" />
        </mat-form-field>

        <mat-form-field  appearance="outline" class="full-width">
          <mat-label>Confirmar Nova Senha</mat-label>
          <input matInput type="password" formControlName="confirmPassword" maxlength="4" />
        </mat-form-field>

        <app-error-message [message]="errorMessage" [show]="!!errorMessage"></app-error-message>
        <app-success-message [message]="successMessage" [show]="!!successMessage"></app-success-message>

        <div class="button-group">
          <button 
            class="action-button" 
            type="submit" 
            [disabled]="isLoading || resetForm.invalid">
            {{ isLoading ? 'Redefinindo...' : 'Redefinir Senha' }}
          </button>
        </div>
      </form>
      
    </div>

  </mat-card>
</div>
