<div class="update-password-container">
  <div class="update-password-card">
    <div class="update-password-header">
      <div class="bank-logo">
        <h1>Nexo Bank</h1>
      </div>

      <h2 *ngIf="step === 'request'">Recuperar Senha</h2>
      <h2 *ngIf="step === 'reset'">Redefinir Senha</h2>

      <p *ngIf="step === 'request'">Digite seu email para receber o link de recuperação</p>
      <p *ngIf="step === 'reset'">Digite o token e sua nova senha</p>
    </div>

    <!-- Formulário de Recuperação -->
    <form *ngIf="step === 'request'" (ngSubmit)="sendRecoveryEmail()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="email" required />
      </mat-form-field>

      <!-- Mensagem de erro abaixo do campo -->
      <app-error-message [message]="errorMessage" [show]="!!errorMessage"></app-error-message>

      <!-- Mensagem de sucesso -->
      <app-success-message [message]="successMessage" [show]="!!successMessage"></app-success-message>

      <button type="submit" class="update-password-button" [disabled]="isLoading">
        {{ isLoading ? 'Enviando...' : 'Enviar' }}
      </button>
    </form>

    <!-- Formulário de Redefinição -->
    <form *ngIf="step === 'reset'" (ngSubmit)="resetPassword()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Token</mat-label>
        <input matInput [(ngModel)]="token" name="token" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nova Senha</mat-label>
        <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirmar Nova Senha</mat-label>
        <input matInput type="password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" required />
      </mat-form-field>

      <!-- Mensagem de erro abaixo dos campos -->
      <app-error-message [message]="errorMessage" [show]="!!errorMessage"></app-error-message>

      <!-- Mensagem de sucesso -->
      <app-success-message [message]="successMessage" [show]="!!successMessage"></app-success-message>

      <button type="submit" class="update-password-button" [disabled]="isLoading">
        {{ isLoading ? 'Redefinindo...' : 'Redefinir' }}
      </button>
    </form>

    <div class="link-section">
      <a (click)="goToLogin()" class="update-password-link">Voltar para o login</a>
    </div>
  </div>
</div>
